/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');

body, * {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: black;
    background-color: BurlyWood;
} */


/* @import url('https://fonts.cdnfonts.com/css/garamond-libre'); */


/* @font-face {
  font-family: "SOV_ReangPhim2426";
  src: url(./tiparo/SOV_ReangPhim2426.ttf) format("truetype");
  unicode-range: U+0E01-0E7F;
} */

@font-face {
   font-family: monospace;
  unicode-range: U+0108-011C, U+0124-0126, U+0109-011D, U+0125-0127;
}


body, * {
  /* font-family: 'SOV_ReangPhim2426', 'Garamond Libre', sans-serif; */
    font-family: monospace;
    color: black;
    /* background-color: BurlyWood; */
    font-size: 15px;
}

small {
  font-family: verdana;
  font-size: 0.5em;
}

a {
    color: blue;
}

pre {
  font-family: monospace;
  font-size: 15px;
  background-color: azure;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.promeso {
  width: 50%;
}
.kadro {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

body {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
      }

.a4-size {
            width: 210mm;
            height: 297mm;
            margin: 20px;
            border: 1px solid #000;
            box-sizing: border-box;
        }
